[Unit]
Description=Azure Build Agent
After=network.target

[Service]
ExecStart=/home/laptop/temp/azure-devops-agent/run.sh
User=laptop
WorkingDirectory=/home/laptop/temp/azagent
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
