[Unit]
Description=CMAK
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
ExecStart=/usr/local/CMAK/target/universal/cmak-3.0.0.5/bin/cmak -Dconfig.file=/usr/local/CMAK/conf/application.conf -Dhttp.port=9002
ExecStop=
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
