[Unit]
Description=Stockdata ASP .NET Web Application
[Service]
WorkingDirectory=/var/aspnetcore/stockdata-publish
ExecStart=/usr/bin/dotnet /var/aspnetcore/stockdata-publish/StockDataWebAPI.dll --urls="http://localhost:8002"
Restart=always
RestartSec=10
SyslogIdentifier=stock-data
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Development
[Install]
WantedBy=multi-user.target
